* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* Covers everything */
#cover {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    padding: 0;
}

img {
    width: 130px;
}

/* Navbar when scroll down */
.fixed-nav .navbar {
    position: fixed;
    top: 20vh;
    right: 3%;
    background-color: rgba(52, 53, 55, 0.8);
    border-radius: 5px;
    z-index: 1;
}

.fixed-nav .navbar ul {
    flex-direction: column;
    width: 135px;
    padding: 0;
    margin: 0;
}

.fixed-nav .navbar ul li {
    margin: 0;
    padding: 15px 0;
}

.fixed-nav .navbar a {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    width: 100%;
}

.fixed-nav .navbar a:hover {
    text-shadow: none;
}

.fixed-nav .navbar .current {
    background-color: #fc7f0b;
    color: #fff;
    text-shadow: none;
}

.fixed-nav .navbar .current a {
    color: #fff;
    text-shadow: none;
}

/* Scroll to top link */
ul.menu > a {
    display: none;
}

/* Navbar when screen size less than 1200px */
/* .bar-icon {
    display: none;
} */

/* Header Section */
.header-nav {
    display: flex;
    background: #343537;
    color: #ffffff;
    padding: 0 30px;
    min-height: 85px;
    border-bottom: #32a0c2 3px solid;
}

#branding {
    flex: 4;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    margin: 0;
}

/* Links in the header */
.navbar a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.navbar a:hover {
    color: #aaa;
    text-shadow: 0 0 0.01px black, 0 0 0.01px black, 0 0 0.01px black;
}

.navbar .current a {
    color: #32a0c2;
}

/* Header for Education and Experience Section */
.header {
    flex: 1 1;
    text-align: left;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 5px;
}

.header > h2 {
    font-weight: 700;
    margin: 0;
    padding: 0;
}

li > a {
    color: white;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    font-size: 16px;
}

.header .current a {
    color: #3eb1d4;
    font-weight: bold;
}

.header a:hover {
    color: #63c4e2;
    text-shadow: 0 0 0.01px black, 0 0 0.01px black, 0 0 0.01px black;
} 

.menu {
    list-style: none;
    display: flex;
}

.menu > li {
    order: 1;
}

.menu > a {
    order: 2;
}

.menu > li {
    text-align: center;
    display: flex;
}

/* Showcase Section */
#showcase {
    height: 90vh;
    background:url('../img/light_bulb.jpg') center;
    background-size: cover;
    text-align: left;
    color: white;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 200px 30px;
}

#intro > h1 {
    margin-top: 0;
    margin-bottom: 5vh;
    font-size: 50px;
    animation-delay: 0.4s;
    animation-fill-mode: both;
    animation: moveup 1s;
}

#intro > h2 {
    font-size: 50px;
    margin-bottom: 5vh;
    animation-delay: 0.8s;
    animation-fill-mode: both;
    animation: moveup 1s;
}

#intro > p {
    font-size: 50px;
    animation-delay: 1.6s;
    animation-fill-mode: both;
    animation: moveup 1s;
}

/* About Me Section */
#me {
    display: flex;
    background: #fafafa;
    padding: 80px 0;
}

a, button, input {
    outline: medium none;
}

#me p {
    font-size: 18px;
    line-height: 26px;
    color: #666;
}

.about-row {
    display: flex;
    margin: 0 auto;
}

.about-size {
    flex: 1;
    margin: 0 auto;
    padding: 0 15px;    
}

.about-image {
    border-radius: 2px;
    max-width: 350px;
}

#profile_pic > img{
    width: 100%;
}

#description > h3 {
    font-size: 36px;
    color: #555;
    font-weight: 400;
    /* font-family: Open Sans,sans-serif; */
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    /* position: relative; */
}

p.bold {
    font-size: 18px;
    color: #666;
    font-weight: 700;
    /* font-family: Open Sans,sans-serif; */
    line-height: 28px;
    margin-bottom: 25px;
}

.about-content a {
    text-decoration: none;
    margin-top: 25px;
    box-shadow: 0 1px 10px rgba(59,59,59,.1);
}

.download-btn {
    border: 1px solid #fff;
    border-radius: 5px;
    color: #333;
    display: inline-block;
    /* font-family: Open Sans,sans-serif; */
    font-size: 14px;
    font-weight: 700;
    margin-top: 45px;
    overflow: hidden;
    padding: 12px 42px;
    /* position: relative; */
    text-transform: uppercase;
    z-index: 9;
    background: #fff;
}

.download-btn:hover {
    color: #fff;
    background: #fc7f0b;
}

a:active, a:hover {
    outline: 0 none;
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: none;
}

/* Education Section */
.row-size {
    flex: 1;
}

#education,
#experience {
    display: flex;
    background-color: #f1f1f1;
    padding: 20px 0;
}

#project {
    display: flex;
    padding: 20px 0;
}

#about-me {
    width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.education-container, 
.experience-container,
.contact-container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.project-container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-row {
    display: flex;
}

/* remove later */
.container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

/* for most of the content class except for eduaction section */
.content {
    display: flex;
    flex-direction: column;
    padding: 30px 25px 25px 25px;
}

.content:hover {
    box-shadow: 0px 6px 15px 0px rgba(59, 59, 59, 0.21);
}

.content-icon {
    margin-bottom: 27px;
}

::after, ::before, a, button, i, img, input, span, div {
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition-property: all 0.5s ease 0s;
}

.content-content h4 {
    font-size: 18px;
    color: #1f1f1f;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 700;
}

.content-content h6 {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    margin: 8px 0;
}

.content-content p,
.content-content > ul > li {
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 24px;
}

/* Adjusting image size */
.container img {
    width: 200px;
}

/* Experience */
.job_desc {
    list-style: none;
    margin: 0;
    padding: 0;
}

.job_desc > li {
    font-size: 1.05rem;
    line-height: 1.5;
    padding: 10px 0;
}

/* Project Section */
.menu-row {
    display: flex;
    margin: 50px -5px 10px -15px;
}

.project-title {
    flex: 1;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.project-title h3 {
    font-size: 36px;
    color: #555;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.menu-container {
    flex: 2;
}

.project-menu {
    margin: 0 auto;
}

.project-menu ul {
    margin: 0;
    list-style: none;
    text-align: right;
    padding: 14px 0 0;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.menu-list {
    display: flex;
    margin: 0 auto;
    text-align: left;
}

.project-menu ul li a {
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    padding: 0 20px 0 0;
}

/* highlight selected project menu nav */
.project-menu ul li a.active, 
.project-menu ul li a:hover {
    color: #fc7f0b;
}

/* Project row */
.project-row {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

.project-row-size {
    flex: 1;
    justify-content: center;
}

.project-row-size:first-child {
    margin-right: 25px;
}

.project-row-size:last-child {
    margin-left: 25px;
}

.project-content {
    /* padding: 30px 25px 25px 25px; */
    /* box-shadow: 0px 2px 6px 2px rgba(59, 59, 59, 0.21); */
    animation-delay: 0.5s;
    animation-fill-mode: both;
    animation: moveup 1s;
    padding-bottom: 20px;
    max-width: 960px;
}

.project-content:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 15px 0px rgba(59, 59, 59, 0.21);
}

.project-content img {
    width: 100%
}

.project-content h3 {
    text-align: center;
    padding: 20px 0;
}

.project-content p {
    font-size: 18px;
    line-height: 25px;
    padding: 10px 40px;
}

.project-content a {
    font-weight: 400;
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.project-content a:hover {
    color: #fc7f0b;
}

/* Contact Section */
#contact {
    height: 100vh;
    max-height: 310px;
    display: flex;
    background: #343537;
    padding: 20px 0;
    color: white;
}

.contact-header {
    font-size: 20px;
    padding-top: 18px;
    padding-bottom: 40px;
}

.contact-container {
    padding: 0 30px;
}

.social {
    padding-top: 40px;
}

.contact-content {
    display: flex;
    flex-direction: column;
}

.contact-content > * {
    flex: 1;
}

.contact-content > p {
    line-height: 1.7;
}

.contact-content p a {
    margin-left: 5px;
    color: #fc7f0b;
} 

.social > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.social > ul > li {
    padding: 0 20px 0 0;
}

.social > ul > li > a {
    padding: 0;
    font-size: 35px;
}

.responsive {
    top: 0;
    right: 0;
    display: block;
    visibility: visible;
    width: 100%;
    background-color: rgba(52, 53, 55, 0.8);
    border-radius: 0;
}
.responsive li {
    background-color: rgba(52, 53, 55, 0.8);
    display: flex !important;
}

.responsive > a {
    position: block;
    top: 0;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #565656;
    color: #ffffff;
    flex-basis: 50px;
    font-size: 1.1rem;
}

@media screen and (max-width: 1485px) {
    /* Navbar */
    .fixed-nav .navbar > ul > li {
        display: none;
    }

    .scroll-to-top .navbar {
        position: fixed;
        bottom: 6vh;
        right: 3vw;
        top: auto;
    }

    .scroll-to-top .navbar > ul {
        width: fit-content;
        background-color: #565656;
        padding: 8px;
    }

    .scroll-to-top .navbar > ul > a {
        display: flex;
        justify-content: center;
        top: 0;
        z-index: 1;
        font-size: 30px;
    }
    
    .scroll-to-top .navbar > ul > a,
    .scroll-to-top .navbar > ul > a:hover,
    .scroll-to-top .navbar > ul > a::before, 
    .scroll-to-top .navbar > ul > a::after,
    .scroll-to-top .navbar > ul > a > i {
        transition: none;
        -webkit-transition: none;
    }

    /* ul.menu li:not(:first-child) {
        display: none;
    } */

    /* .fixed-nav .navbar a {
        font-size: 20px;
        padding: 0;
    } */

    /* .fixed-nav .navbar ul {
        width: 100%;
        height: 6vh;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    } */

    /* .fixed-nav .navbar ul > a.bar-icon {
        text-align: right;
        padding: 0 25px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    } */

    /* .fixed-nav .navbar ul li {
        padding: 15px;
        height: 100%;
    } */

    /* a.bar-icon i {
        width: fit-content;
        height: fit-content;
        align-self: center;
    } */

    /* might have to change */
    /* .current {
        display: flex;
        align-items: center;
    } */

    /* .bar-icon {
        display: flex;
    } */

    /* .fixed-nav .navbar {
        position: fixed;
        top: 0;
        right: 0;
        display: block;
        width: 100%;
        background-color: rgba(52, 53, 55, 0.8);
        border-radius: 0;
        z-index: 1;
    } */
    
    /* Responsive Navbar Dropdown */
    /* .responsive {
        top: 0;
        display: block;
        width: 100%;
        background-color: rgba(52, 53, 55, 0.8);
        border-radius: 0;
    }
    .responsive li {
        background-color: rgba(52, 53, 55, 0.8);
        display: flex !important;
    } */
    /* .responsive .bar-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .responsive li {
        float: none;
        display: flex !important; 
        text-align: left;
    }  */

}

@media screen and (max-width: 1320px) {
    /* Make scroll top button smaller */
    .scroll-to-top .navbar {
        position: fixed;
        bottom: 6vh;
        right: 2vw;
        top: auto;
    }
}

@media screen and (max-width: 1288px) {
    /* Make scroll top button smaller */
    .scroll-to-top .navbar {
        position: fixed;
        bottom: 6vh;
        right: 1vw;
        top: auto;
    }
}

@media screen and (max-width: 1264px) {
    /* Make scroll top button smaller */
    .scroll-to-top .navbar {
        position: fixed;
        bottom: 6vh;
        right: 0.3vw;
        top: auto;
    }
}

@media screen and (max-width: 1230px) {
    /* Make scroll top button smaller */
    .scroll-to-top .navbar {
        position: fixed;
        bottom: 5vh;
        right: 0vw;
        top: auto;
    }
}

@media screen and (max-width: 1200px) {
    /* About me Section */
    #me {
        display: flex;
    }

    .about-size {
        flex: 0;
        width: 90vw;
        display: flex;
        justify-content: center;
    }

    #description {
        display: flex;
        flex-direction: column;
    }

    .about-content {
        padding-top: 50px;
        max-width: 680px;
    } 

    .about-content h3 {
        text-align: center;
    }

    #download-resume {
        text-align: center;
    }

    .about-row {
        /* Supporting multiple device size */
        flex-direction: column;
    }

    /* Project Section */
    .menu-row {
        flex-direction: column;
    }

    .project-title {
        padding: 0;
    }

    .project-title h3 {
        margin: 0;
        padding-bottom: 20px;
        text-align: center;
    }

    .project-menu ul {
        text-align: center;
        line-height: 2;
    }

    .project-menu ul li {
        margin-right: 20px;
    }

    .project-row {
        flex-direction: column;
        padding: 0;
    }

    .project-row-size {
        padding: 25px 0;
    }

    .project-row-size:first-child,
    .project-row-size:last-child {
        margin: 0;
    }

    .project-content {
        /* padding: 30px 25px 25px 25px; */
        width: 80vw;
        margin: auto;
    }

    .menu-row {
        margin: 50px 0 10px 0;
    }

    /* Make scroll top button bigger */
    .scroll-to-top .navbar {
        position: fixed;
        bottom: 6vh;
        right: 3vw;
        top: auto;
    }
}

@media screen and (max-width: 1000px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
    }

    .container-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .row-size {
        flex: 0;
    }

    /* Container width for each section */
    .education-container, .experience-container, .project-container {
        width: 100vw;
        padding-right: 15px;
        padding-left: 15px;
    }

    #education .content {
        width: 90vw;
        margin: auto;
        max-width: 500px;
    }

    #experience .content {
        width:90vw;
        margin: auto;
        max-width: 680px;
    }

    #project .project-content {
        width: 90vw;
        margin: auto;
    }
}

/* On mobile device, hide navbar on top (for now) */
@media screen and (max-width: 730px) {
    #responsive-menu li {
        display: none;
    }
}


@-webkit-keyframes moveup {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
  
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
  
@keyframes moveup {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}